*{
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;

}

.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 10%;
}

main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.text-area {
    height: 400px;
    border: none;
    color: #0A3B71;
    margin-top: 30px;
    padding: 2px;
    text-transform: lowercase;
}
::placeholder { color:#0A3B71;}
.text-area:focus {
    outline: none;
}

.mensaje__box{
    display: block;
}

.mensaje{
    height: 500px;
    background: white;
    background-image: url("/imagenes/MunÌƒeco.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color:#0A3B71;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensaje:focus {
    outline:invert;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3B71;
    border-radius: 24px;
    color: #0A3B71;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3B71;
    border: 1px solid #0A3B71;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3B71;
    border-radius: 24px;
    color: #0A3B71;
    cursor: pointer;
    height: 67px;
    margin-left: 120px;
    margin-top: 575px;
    display: inline-block;
    position: fixed;
    width: 328px;
}

.informacion {
    color: #495057;
    font-size: 18px;
}